html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.picker {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100vw;
  height: 20vh;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.picker figure {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.1s ease;
}

.picker figure img {
  width: 80%;
  height: 80%;
  border: 3px solid #707070;
  border-radius: 100%;
  background: rgba(199, 199, 199, 0.5);
  object-fit: cover;
}
.picker figure:hover {
  width: 90px;
  height: 90px;
  transition: 0.1s ease;
}
